
body {
    background-image: url('../../assets/images/smooth_wall.png');
    margin: 0;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #ffffff;
    border-bottom: #cccccc 2px solid;
    margin: 0 0 20px 80 px;

}

.myName {
    width: 200px;
    text-align: center;
    margin-left: 90px;
    margin-top: 0;
  }
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;background-color: #4aaaa5;
    color:#ffffff;
    line-height 200%;
}
.navBar {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    }

.about-me-box {
    max-width: 960px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    border-bottom: #cccccc 2px solid;
    font-size: 36px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 20px;
    padding:20px;

}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float:left;
    padding: 0 20px 20px 20px;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: ##777777;
}
footer {
    margin: 0;
    padding: 20px;
    background: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    border-width: thick;
    border-color: #4aaaa5;
}
